In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [3]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
-- Query for facilities with total revenue less than 1000
SELECT f.name, 
       SUM(CASE WHEN memid=0 THEN guestcost * slots ELSE membercost * slots END) AS total_revenue
FROM Bookings AS b
INNER JOIN Facilities AS f ON b.facid=f.facid
GROUP BY f.name
HAVING total_revenue < 1000
ORDER BY total_revenue  """
    query2 = """
-- Query for list of member names and their recommenders
SELECT m.firstname, m.surname, r.surname AS recommender_surname, r.firstname AS recommender_firstname
FROM Members AS m
JOIN Members AS r ON m.recommendedby = r.memid
ORDER BY r.surname, r.firstname"""

    query3 = """-- Query for facility usage by members
SELECT f.facid, f.name AS facility_name, SUM(b.slots) AS total_usage
FROM Bookings AS b
INNER JOIN Facilities AS f ON b.facid=f.facid
WHERE b.memid != 0
GROUP BY facility_name
ORDER BY total_usage DESC
  """
    query4= """-- Query for monthly usage of facilities
SELECT strftime('%m', b.starttime) AS month, f.name AS facility_name, SUM(b.slots) AS total_monthly_usage
FROM Bookings AS b
INNER JOIN Facilities AS f ON b.facid=f.facid
WHERE b.memid != 0
GROUP BY month, facility_name
ORDER BY total_monthly_usage DESC;"""
    

#Fetching results for first query statement 
#### Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. 
#There are three facillities with total revenue less than 1000, the least being table tennis, followed by snooker, then pool table.#
    cur.execute(query1)
    rows_query1 = cur.fetchall()
    print('Results for Query 1:')
    for row in rows_query1:
        print(row)
    
    # Fetching for results for Query 2 statement 
    # Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
    cur.execute(query2)
    rows_query2 = cur.fetchall()
    print('\nResults for Query 2:')
    for row in rows_query2:
        print(row)
    
    # Fetching for results for Query 3 statement
    #Q12: Find the facilities with their usage by member, but not guests 
    #Facilities most used bases on total usage by memebers is Badmittin at 1086
    cur.execute(query3)
    rows_query3 = cur.fetchall()
    print('\nResults for Query 3:')
    for row in rows_query3:
        print(row)
    
    #Q13: Find the facilities usage by month, but not guests
    # Execute and fetch results for Query 4 statament 
    ##most used facility based month is also Badmitin
    cur.execute(query4)
    rows_query4 = cur.fetchall()
    print('\nResults for Query 4:')
    for row in rows_query4:
        print(row)

In [4]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print('2.Query all tasks')
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2.Query all tasks
Results for Query 1:
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

Results for Query 2:
('Ramnaresh', 'Sarwin', 'Bader', 'Florence')
('Joan', 'Coplin', 'Baker', 'Timothy')
('Matthew', 'Genting', 'Butters', 'Gerald')
('Timothy', 'Baker', 'Farrell', 'Jemima')
('David', 'Pinker', 'Farrell', 'Jemima')
('Henrietta', 'Rumney', 'Genting', 'Matthew')
('Douglas', 'Jones', 'Jones', 'David')
('Nancy', 'Dare', 'Joplette', 'Janice')
('David', 'Jones', 'Joplette', 'Janice')
('John', 'Hunt', 'Purview', 'Millicent')
('Tim', 'Boothe', 'Rownam', 'Tim')
('Janice', 'Joplette', 'Smith', 'Darren')
('Gerald', 'Butters', 'Smith', 'Darren')
('Charles', 'Owen', 'Smith', 'Darren')
('Jack', 'Smith', 'Smith', 'Darren')
('Anna', 'Mackenzie', 'Smith', 'Darren')
('Henry', 'Worthington-Smyth', 'Smith', 'Tracy')
('Millicent', 'Purview', 'Smith', 'Tracy')
('Erica', 'Crumpet', 'Smith', 'Tracy')
('Anne', 'Baker', 'Stibbons', 'Ponder')
('Florence', 'Bader', 'Stibbons', 'Ponder')
('Ponder', 'Stibbons', 'Tracy', 'Burton')

Results for Query 3:
(2, 'Badminton Court', 1086)
(0, 'Tennis Court 1', 957)
(4, 'Massage Room 1', 884)
(1, 'Tennis Court 2', 882)
(7, 'Snooker Table', 860)
(8, 'Pool Table', 856)
(3, 'Table Tennis', 794)
(6, 'Squash Court', 418)
(5, 'Massage Room 2', 54)

Results for Query 4:
('09', 'Badminton Court', 507)
('09', 'Pool Table', 443)
('09', 'Tennis Court 1', 417)
('08', 'Badminton Court', 414)
('09', 'Tennis Court 2', 414)
('09', 'Snooker Table', 404)
('09', 'Massage Room 1', 402)
('09', 'Table Tennis', 400)
('08', 'Tennis Court 2', 345)
('08', 'Tennis Court 1', 339)
('08', 'Massage Room 1', 316)
('08', 'Snooker Table', 316)
('08', 'Pool Table', 303)
('08', 'Table Tennis', 296)
('07', 'Tennis Court 1', 201)
('08', 'Squash Court', 184)
('09', 'Squash Court', 184)
('07', 'Massage Room 1', 166)
('07', 'Badminton Court', 165)
('07', 'Snooker Table', 140)
('07', 'Tennis Court 2', 123)
('07', 'Pool Table', 110)
('07', 'Table Tennis', 98)
('07', 'Squash Court', 50)
('09', 'Massage Room 2', 28)
('08', 'Massage Room 2', 18)
('07', 'Massage Room 2', 8)

In [5]:
###issue running all tasks, so broke down the statements to run them seperatelu into individual results